* {
    background-color: rgb(200,103,0);
    color: white;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

h1 {
    background-color: rgb(255,211,129);
    color: black;
    width: 305px;
    border-radius: 25px;
    padding-left: 20px;
}

h3 {
    background-color: rgb(255,211,129);
    color: black;
    width: 155px;
    border-radius: 25px;
    padding-left: 25px;
}

li{
    margin: 10px 0;
  }
  
ol,
ul,
p {
    width: 750px;
    line-height: 1.3;
}